a{text-decoration:none; border:none; color:#2A5DB0;}

/************************** JP Slides ******************/

/*Slides default image */
.reg{max-height:400px;}
/*Full width image */
.full{width:100%;}
/*Touch enabled div*/
.swipe {position:absolute; top:0px; left:0px; width:100%; height:100%; background:white; opacity:0; z-index:10; }
/* Marker border radius*/
.round{border-radius: 5px;}
/*Slides Main image and title*/
.slides_view_wrap {position:relative; margin-bottom: 20px;}
.slide_view {max-width:100%; margin:0 auto; background:#373737; max-height:400px; overflow: hidden; }
.slide_view img {display:block; margin:0 auto; max-width:100%; }
.slide_image_title {text-align:center;  display:block; width:100%; background:#F0F0F0;}
.slide_image_title p {margin:0px; padding:6px 4px; color:black;}
.slide_image_title a {position:relative; z-index:1500;}
@media (max-width: 700px) {   
/* Slides container max height for mobile*/
.slide_view{
    max-height:200px;
    }
/*max-height for default slides on mobile*/
.reg{
    max-height:150px;
    }
}/*End Media*/
/*Back and next buttons*/
.back{position:absolute; left:5px; z-index:1500; padding:20px; cursor:pointer; background: white; opacity: .8; top:40%; text-decoration:none; font-size: 1.5em;}
.next{position:absolute; right:5px; z-index:1500; padding:20px; cursor:pointer; background: white; opacity: .8; top:40%; text-decoration:none; font-size:1.5em;}
.back:hover{opacity:1; text-decoration:none;}
.next:hover{opacity:1; text-decoration:none;}
.back a{color:#909090;}
.next a{color:#909090;}
@media (max-width: 700px) {
/*remove back and next for mobile*/
.back, .next {display:none;}
}

/*Play Stop and Pause*/
.playStop{margin:0 auto; width:72px; margin-bottom:10px;}
.play_control{position:relative; width: 10px; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 14px solid #E0E0E0 ; display: inline-block; cursor: pointer;}
.stop_control{position:relative;width: 15px;height: 15px; background: #E0E0E0 ; display: inline-block; cursor: pointer;}
.pause_control{display:inline-block; margin-left:12px; cursor: pointer;}
.pauseline {width:5px; height:15px; display: inline-block; background: #E0E0E0; margin-right:5px;}
/*Play Stop and pause on and off states*/
.stopgrey{background:#686868;}
.playgrey{border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 14px solid #686868;}

/*Slide Images Thumbnails*/
.slide_imgs {text-align:center; max-width: 930px; margin:0 auto; padding-bottom: 20px;}
.slide_imgs a img{width:10%; margin:.5%;}
@media (max-width: 900px){
.slide_imgs {width:95%;text-align: justify}
.slide_imgs a img{width:23%; margin:.5%}  
}
/*Active State for thumbs*/
.active {box-shadow:0px 0px 2px 2px #686868;}

 /*Make text unselectable on back and next buttons*/   
.no_select{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}








